.Layer {
  $margin: 30px;
  $tabsWidth: 240px;

  position: relative;
  margin-left: $tabsWidth;

  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: $tabsWidth;
    background-color: white;
    border-right: 1px solid grey;
  }
  &__tabs {

  }

  &__content {
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: white;
  }

  &__version {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
  }
}
