.Layer {
  $margin: 30px;
  $tabsWidth: 240px;
  $headerHeight: 108px;

  position: relative;

  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: $tabsWidth;
    background-color: white;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    color: rgba(37, 37, 37, 0.5);
  }
  &__logo {
    width: 176px;
    height: 100px;
    background: url('../../../sources/images/logo_small.png');
    margin: 25px auto 25px;
  }
  &__tabs {

  }
  &__topbar {
    width: 100%;
    height: $headerHeight;
    position: fixed;
    left: $tabsWidth;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  }

  &__content {
    position: relative;
    height: 100%;
    z-index: 1;
    padding-top: $headerHeight;
    padding-left: $tabsWidth;
  }

  &__version {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
  }
}
