.Layer {
  $margin: 30px;
  $tabsWidth: 150px;

  position: absolute;
  top: $margin;
  bottom: $margin;
  left: $margin + $tabsWidth;
  right: $margin;

  &__tabs {
    position: absolute;
    top: 30px;
    left: -$tabsWidth + 3;
    width: $tabsWidth;
  }

  &__content {
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: white;
  }

  &__version {
    position: absolute;
    bottom: -$margin;
    left: -$margin - $tabsWidth;
    padding-left: 10px;
  }
}
