.Community {

  &__image {
    width: 150px!important;
    height: 150px;
  }

  &__info {
    margin-left: 200px;
    /*
    & dl {
      display: table;
    }

    & dt,& dd {
      display: table-cell
    }*/
  }

  &__code {
    overflow-y: auto;
    height: 300px;
  }
}