$mutedcolor: rgba(37, 37, 37, 0.5);
$layercolor: #fff;
$shadowcolor: rgba(0, 0, 0, 0.1);

$frsBlack: #252525;
$frsRed: #c33727;

body {
  background-color: #f2f4f7;
}

html, body, #root, .App{
  height: 100%;
}

dt {
  padding-right: 0.5em!important
}

dd:after {
  content: ' ';
  display: inline-block;
}

hr {
  margin: 50px 0;
}

.frsMuted {
  color: $mutedcolor;
}

.table-layout-fixed {
  table-layout:fixed!important;
}

.btn {
  padding: 10px 25px;
  background-color: $frsBlack;
  text-transform: none;
  color: #fff;
}

.btn:hover {
  color: $frsRed;
}
