$mutedcolor: rgba(37, 37, 37, 0.5);
$layercolor: #fff;
$shadowcolor: rgba(0, 0, 0, 0.1);

$borderRadius: 5px;
$cardspadding: 12px;

$titleFontSize: 30px;

body {
  background-color: #f2f4f7;
}

html, body, #root, .App{
  height: 100%;
}

dt {
  padding-right: 0.5em!important
}

dd:after {
  content: ' ';
  display: inline-block;
}

h1 {
  font-size: $titleFontSize;
}

hr {
  margin: 50px 0;
}

.text-muted {
  color: $mutedcolor!important;
}

.table-layout-fixed {
  table-layout:fixed!important;
}

.btn {
  padding: 10px 25px;
  text-transform: none;
  color: #fff;

  &.btn-primary {
    background-color: #70BBFD;

    &:hover {
      background-color: #63A8E6;
    }
  }

  &.btn-secondary {
    background-color: #D1D3DD;

    &:hover {
      background-color: #B6B8C3;
    }
  }

  &.btn-success {
    background-color: #4CE1B6;

    &:hover {
      background-color: #44C9A2;
    }
  }

  &.btn-danger {
    background-color: #F6816E;

    &:hover {
      background-color: #E17361;
    }
  }

  &.btn-icon {
    padding: 10px;
  }
}

.popup-content {
  position: static;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(187, 187, 187);
  padding: 5px;
}
